.portfolio-container {
    display: flex;
    margin: 20px;
    display: flex;
    align-items: flex-start;

}

.avatar-field {
    margin-right: 60px;
    margin-top: 20px;
}
.legal-name{
    padding-top: 10px;
}

input{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}

label {
    display: inline-grid;
}

.block {
    display: inline;
}

.avatar-box {
    width: 200px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-results {
    margin-top: 40px
}

.quiz-results-box {
    width: 900px;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-avatar-btn {
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.message-box {
    border: 1px solid #000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}   

.formTitle {
    display: flex;
    margin-left: 125px;
    margin-top: 10px;
    position: absolute;
  }