.panel-title {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    display: block;
    text-decoration: none !important;
    padding: 15px 15px;
    color: #333;
}
.panel-context {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    display: block;
    padding: 15px 15px;
    margin: 0;
}