@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646546723776') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\eb6d";
}
.primary .panel-title a:after {
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}

.icon-shangjiantou:before {
  content: "\eb6e";
}
.primary .panel-title a:after {
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}


